opencv-contrib-python
imutils
boto3
moviepy
autopep8
pylint
questionary
hikvisionapi
pandas
google-cloud-storage
azure-storage-blob
pika
speedtest-cli
peewee
psycopg2
requests
mtcnn
tensorflow

# sudo apt-get update
# sudo apt-get install build-essential cmake
# sudo apt-get install libopenblas-dev liblapack-dev 
# sudo apt-get install libx11-dev libgtk-3-dev